[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-multipart = "*"
faker = "*"
splitio-client = {version = "==9.2.2", extras = ["cpphash"]}
pydantic = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
